{% import "bootstrap/utils.html" as utils %}
{% extends "layout.html" %}
{% block title %}Charts{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <br/>
    {{ utils.flashed_messages() }}
    <br/>
    <h1 style="text-align:center;">Charts</h1>
    <br>
    <br>
    <div class="center layer">
      <h1>Bar Graph Maternal Visits</h1>
      <canvas id="maternal" width="800" height="450"></canvas>
      <br><br><br><br><br>
      <h1>Line Graph Maternal Visits</h1>
      <canvas id="maternal_line" width="800" height="450"></canvas>
      <br><br><br><br><br>
      <canvas id="myChart" width="800" height="450"></canvas>
    </div>
  </div>
</div>
{% endblock %}
