{% import "bootstrap/utils.html" as utils %}
{% extends "layout.html" %}
{% block title %}Organisation Units{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Data Elements</h1>
        {% if data_elements %}
          <hr class="intro-divider">
          <div class="center">
            <form class="form-inline">
              <div class="form-group">
                <label for="">Search by id</label>
                <input type="text" class="form-control" id="by_id" name="id" placeholder="Search by Id">
              </div>
              <div class="form-group">
                <label for="name">Search by name</label>
                <input type="text" class="form-control" id="by_name" name="name" placeholder="Search by Name">
              </div>
            </form>
            <br>
            <table id="myTable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="10%"></th>
                  <th width="20%"> Id </th>
                  <th width="70%"> Data Elements </th>
                </tr>
              </thead>
              <tbody>
              {% for element in data_elements %}
                <tr>
                  <td>{{ data_elements.index(element) +1 }}</td>
                  <td> {{ element['id'] }} </td>
                  <td> {{ element['displayName'] }} </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No Data Elements have been found. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Data Element
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
