{% import "bootstrap/utils.html" as utils %}
{% extends "layout.html" %}
{% block title %}Immunisation{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Immunisation</h1>
        {% if immunisation %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="30%"> Id </th>
                  <th width="70%"> Immunisation </th>
                </tr>
              </thead>
              <tbody>
              {% for disease in immunisation %}
                <tr>
                  <td> {{ disease['id'] }} </td>
                  <td> {{ disease['displayName'] }} </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No Organisation units have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Organisation Unit
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
